html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

}

h1 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.header {
    background: gold;
    padding: 15px 0;
}

.main {
    flex-grow: 1;
    display: flex;
}

.footer {
    background: #83E783;
    padding: 15px;
    text-align: center;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    text-align: center;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu__box {
    display: flex;
    align-items: center;

}


.main-nav {
    margin-left: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    text-align: center;
}

.content {
    padding: 15px;
    flex-grow: 1;
}

.sidebar {
    max-width: 210px;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.sidebar-left {
    order: -1;
    background: violet;
}

.sidebar-right {
    background: #9CB1C7;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    width: 33.333%;
    padding: 0 15px 30px;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid blueviolet;
    padding: 10px;
    background: violet;
    margin: 0 auto;
    background-image: url(img/im.jpg);
    align-items: center;
}

.bt {
    width: 40px;
    height: 20px;
    background: blueviolet;
    border-radius: 15px;
    color: white;

}

.card-body {
    flex-grow: 1;
}

#menu__toggle{
    opacity: 0;
}
.menu__item{
    margin: 5px;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }

.menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__btn{
      opacity: 0;
  }

  
  
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /* @media(min-width: 1024px) {
    .menu__toggle{
        display: none;
    }
    .menu__box{
        position: static;
        display: flex;
        align-items: center;
        background: transparent;
        opacity: 1;
        visibility: visible;
    }
    .menu__item{
        margin-bottom: 0;
    }
     .menu__item + .menu__item{
        padding-left: 15px;
    }

} */
@media(max-width: 768px) {

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      .container{
          display: flex;
          justify-content: flex-end;
      }

/* контейнер меню */

.menu__btn{
    opacity: 1;
}
.col {
    width: 50%;
    padding: 0 15px 30px;
}

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

}

@media(max-width: 580px) {
    body{
        min-width: 300px;
    }

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

    }
    .col {
        width: 100%;
        padding: 0 15px 30px;
    }

    .sidebar-left {
        order: 0;
        background: violet;
    }

    .sidebar {
        max-width: 580px;
        width: 100%;
        padding: 15px;
        text-align: center;
    }


    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      .container{
          display: flex;
          justify-content: flex-end;
      }

/* контейнер меню */

.menu__btn{
    opacity: 1;
}

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

}